---
import "../../styled-system/styles.css";
import { css } from "../../styled-system/css";
import Navbar from "../components/ui/navbar/navbar.tsx";
import Footer from "../components/ui/footer.tsx";
import { BackToTop } from "../components/common/back-to-top.tsx";

const poppins = "--font-poppins";
const rubik = "--font-rubik";
---

<html>
  <head>
    <title>SASF</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    class={`${poppins} ${rubik} ${css({ bg: "bgColor", transition: "all 0.5s" })}`}
  >
    <Navbar client:load />
    <main class={`scroller ${css({ minHeight: "100vh" })}`}>
      <slot />
      <Footer client:load />
      <BackToTop client:load />
    </main>
  </body>
</html>
